.myListApp .sapMBarTitleAlignAuto .sapMBarPH {
	justify-content: center;
}

.myListApp .category-list-toolbar {
	border: none;
}

.myListApp .sapMIBar .sapMTitle {
	align-self: start;
	margin-top: 0.25rem;
}

.myListApp .sapMIBar .sapMText {
	align-self: end;
	margin-bottom: 0.25rem;
}

/**Home Page**/

.myListApp .sapTntToolPage.my-toolpage .sapTntToolPageAsideCollapsed>.sapTntToolPageAside {
	width: auto;
	position: static;
}

.myListApp .sapTntToolPage.my-toolpage .sapTntToolPageAsideCollapsed>.sapTntToolPageAside+.sapTntToolPageMain {
	padding-left: 0;
	overflow: auto;
}

.myListApp .my-toolpage .sapUiBlockCellContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myListApp .my-toolpage .sapUiBlockCellTitle {
	margin-bottom: 0;
}

.myListApp .my-toolpage .sapUiBlockCellContent {
	justify-content: space-around;
}