.myOnlineShop .sapMBarTitleAlignAuto .sapMBarPH {
	justify-content: center;
}

.myOnlineShop .category-list-toolbar {
	border: none;
}

.myOnlineShop .sapMIBar .sapMTitle {
	align-self: start;
	margin-top: 0.25rem;
}

.myOnlineShop .sapMIBar .sapMText {
	align-self: end;
	margin-bottom: 0.25rem;
}

/**Home Page**/

.myOnlineShop .sapTntToolPage.my-toolpage .sapTntToolPageAsideCollapsed>.sapTntToolPageAside {
	width: auto;
	position: static;
}

.myOnlineShop .sapTntToolPage.my-toolpage .sapTntToolPageAsideCollapsed>.sapTntToolPageAside+.sapTntToolPageMain {
	padding-left: 0;
	overflow: auto;
}

.myOnlineShop .my-toolpage .sapUiBlockCellContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myOnlineShop .my-toolpage .sapUiBlockCellTitle {
	margin-bottom: 0;
}

.myOnlineShop .my-toolpage .sapUiBlockCellContent {
	justify-content: space-around;
	
}

.myOnlineShop .my-toolpage .last-viewed .sapUiBlockCellContent > *{
	flex: 1;
}

.myOnlineShop .my-toolpage .pop-products .sapUiBlockCellContent {
	flex-direction: column;
    align-items: start;
}

.myOnlineShop .my-toolpage .sapUiBlockLayoutRow.counters-row .sapUiBlockCellContent {
	padding-top: .9rem; 
	padding-bottom: .9rem; 
}

.myOnlineShop .sapUiBLy {
	background-color: #285378;
}

.my-qrcode-control {
	border: 3px solid #1B8DEC;
	padding: 0.4rem;
	background-color: #6BD3FF;
	border-radius: 0.5rem;
}

.myLPTile {
	transition: all 0.4s;
}

.tile-update {
	background-color: #333e4d;
	transition: all 0.2s;
}