html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.2rem;
}

html[ dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.2rem;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: 700;
}

.myAppDemoWT .myPanel .sapMPanelContent {
    display: flex;
    align-items: center;
}